.output-field {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.2) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    border: 2px;
}

.output-field .text-area {
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: 1.5em;
}

.output-border-bottom {
    width: 100%;
    height: 1.5rem;
    background-color: var(--clr-primary);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sign-img {
    width: 80px;
}