:root {
    --page-pt: 3rem
}

.page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--page-pt) var(--h-padding);
    background-color: var(--clr-secondary);
    color: white;
}

.page-intro-text {
    font-size: 1.7rem;
    font-weight: bold;
}

.page-info-text {
    margin: 2em 0 1em 0;
    font-size: 1.2rem;
}

.page-intro h2 {
    text-align: center;
    color: white;
    font-size: 1.8rem;
}