nav {
    padding: 1.2em var(--h-padding);
    background-color: var(--clr-secondary);
    border-bottom: 4px solid var(--clr-secondary-dark);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.5em;
    z-index: 100;
}

.logotype {
    display: inline-block;
    font-size: clamp(1.2rem, calc(0.4vw + 1rem), 1.6rem);
    font-weight: bold;
    cursor: pointer;
}

.v-center {
    display: flex;
    align-items: center;
}

.nav-item:not(.logotype){
    font-size: clamp(1rem, calc(1rem + 0.2vw), 1.2rem);
}

.nav-item:hover {
    text-decoration: underline;
}

.col-gap-3rem {
    column-gap: 3rem;
}

.col-gap-05em {
    column-gap: 0.5em;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--clr-primary);

    background-color: #fff;
    background-image: url(../../assets/default-profile-picture.png);
    background-size: 80%;
    background-position: center 100%;
    background-repeat: no-repeat;
}

.nav-profile-related {
    padding: 0.5em 2em;
    border-radius: 10px;
    background-color: var(--clr-secondary-dark);
}