@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
	--clr-turquoise: #17C3B2;
	--clr-turquoise-dark: #12ad9e;
	--clr-grey: #c7cccf;
	--clr-grey-light: #efefef;
	--clr-red: #DA4167;
	--clr-red-light: #e84e75;
	--clr-red-dark: #c1395b;
	--clr-white: #FEF9EF;
	--clr-blue: #33658A;
	--clr-blue-light: #5081a7;

	--clr-primary: var(--clr-blue);
	--clr-primary-dark: var(--clr-turquoise-dark);
	--clr-primary-light: var(--clr-blue-light);
	--clr-secondary: var(--clr-turquoise);
	--clr-secondary-dark: var(--clr-turquoise-dark);

	--clr-error: var(--clr-red);
	--clr-error-dark: var(--clr-red-dark);
	--h-padding: clamp(1rem, 7vw, 10rem);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.flex {
	display: flex;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.underline {
	text-decoration: underline;
}