.recent-translations-box {
    display: inline-block;
    width: 350px;
    margin-top: 5rem;
    margin-bottom: -7rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.profile-border-top {
    width: 100%;
    background-color: var(--clr-primary);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1em 5em 1em 1.5em;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.recent-translations-container {
    padding: 2em 3em;
}

.recent-translations-container ul {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.profile-delete-btn {
    padding: 0.7em 0;
    width: 100%;
    background-color: var(--clr-error);
    border: none;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.profile-delete-btn:hover {
    background-color: var(--clr-error-dark);
}